.footer {
  background: var(--beauty-landing-2-c1);
  color: var(--beauty-landing-2-background);
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 32px 91px 66px;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    padding: 56px 100px;
    align-items: flex-start;
    justify-content: space-between;
    &::after{
      content: "";
      position: absolute;
      background-image: url(./../../images/farmacy.png);
      width: 248px;
      height: 152px;
      right: 0px;
      bottom: 0px;
      background-repeat: no-repeat;
    }
  }
  &__logo {
    margin-bottom: 26px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media screen and (min-width: 768px) {
      align-items: start;
    }
  }

  &__address {
    max-width: 192px;
    color: var(--beauty-landing-2-background);
    font-style: normal;
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
      align-items: start;
    }
  }
  &__social {
    display: flex;
    gap: 20px;
    justify-content: center;
    @media screen and (min-width: 768px) {
      gap: 24px;
      justify-content: start;
    }
  }

  &__link {
    color: var(--beauty-landing-2-background);
  }

  &__link-address{
    text-align: center;
    @media screen and (min-width:768px) {
      text-align: start;
    }
  }

  &__link-text {
    margin-bottom: 0;
  }

  &__social-icons {
    fill: white;
    :hover{
      fill: var(--beauty-landing-2-s2);
    }
  }

  &__agree {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: var(--beauty-landing-2-s5);
  }

  &__policy {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    @media screen and (min-width: 768px) {
      align-items: start;
    }
  }
}
