.hero {
  padding: 72px 20px;
  mask-image: url("../images/mask-hero-mobile.svg");
  mask-size: 100% 100%;
  mask-clip: border-box;
  background: linear-gradient(
      94deg,
      #fff 9.65%,
      rgba(255, 255, 255, 0.85) 26.08%,
      rgba(255, 255, 255, 0.19) 52.74%,
      rgba(255, 255, 255, 0) 74.46%
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 122px;
    mask-image: url("../images/mask_hero.svg");
    margin-bottom: 80px;
  }

  &__description {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 18px;
      text-align: left;
    }
  }

  &__text {
    font-size: 11px;
    line-height: 164%;
    text-align: center;
    color: var(--beauty-landing-2-c3);
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 150%;
    }
  }

  &__title {
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 54px;
    line-height: 85%;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      font-size: 140px;
      line-height: 81%;
      margin-bottom: 40px;
    }
  }

  &__container {
    padding-left: 20px;
    @media screen and (min-width: 768px) {
      padding-left: 206px;
      width: 530px;
    }
  }

  &__block {
    width: 186px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 768px) {
      width: 220px;
      margin-left: 0;
    }
  }
}
