.our-servises {
  padding: 0 20px;
  @media screen and (min-width: 768px) {
    padding: 0 112px;
    margin-bottom: 140px;
  }
  &__slider {
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 32px;
    }
  }
}
