.our-servises {
  @media screen and (min-width:768px) {
    padding: 0 112px;
    margin-bottom: 140px;
  }
    &__slider {
    
    @media screen and (min-width: 768px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      
    }
  }
}
