.slider-cards {
  margin-bottom: 32px;
  
  @media screen and (min-width: 768px) {
    gap: 16px;
  }
  &__card {
    position: relative;
    width: 320px;
    height: 416px;
    overflow: hidden;
    border-radius: 110px 4px;
    padding: 344px 72px 24px 112px;
    background-image: linear-gradient(
      180deg,
      rgba(1, 28, 68, 0) 47.4%,
      rgba(1, 28, 68, 0.73) 82.66%,
      #011c44 99.06%
    );

    @media screen and (min-width: 768px) {
      width: 344px;
      height: 456px;
      border-radius: 120px 4px;
      padding: 372px 76px 32px 116px;
      
    }
  }

  &__text {
    font-size: 20px;
    line-height: 118%;
    text-align: center;
    color: var(--beauty-landing-2-background);
    margin-bottom: 0;
    @media screen and (min-width: 768px) {
      font-size: 22px;
    }
  }

  &__image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.slide-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: transparent;
  border: 0.77px solid var(--beauty-landing-2-c1);
  padding: 0;
  stroke-width: 2px;
  stroke: var(--beauty-landing-2-c1);
}

.next{
        transform: rotate(180deg);
    }
